.flex{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 30px;
    grid-auto-flow: dense;

}


.buttonWrap{
    text-align: center;
    padding: 2rem;
}

.card{
    max-width: 80%;
    width: 380px;
    height: 380px;
    cursor: pointer;
}
.card.selected{
    margin-top: -30px;
    border-color: red;
}

.btn {
    width: 20%;
    height: 40px;
    background: none;
    border: 1px solid cadetblue;
    border-radius: 3px;
    text-align: center;
    margin-left: 40%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.btn:hover {
    background: cadetblue;
}


