.cardBoard {
    width: 100%;
    height: 14.8vw;
    max-width: 18vw;
    margin-top: -5vw;
    /*margin-left: 2vw;*/
}

.cardBoard:first-child {
    margin-top: 0;
}

.cardBoard.selected{
    margin-left: -20px;
}