@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';


.btn{
   width: 20%;
   height: 40px;
   border: 1px solid deeppink;
  border-radius: 3px;
   background: none;

 }

.btn:hover{
  background: deeppink;
  cursor: pointer;
}
.btn_div{
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}